 
body {
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
}
.app {
  margin: 50px;
}
.app__title {
  margin-bottom: 10px;
}
.tasklist {
  margin-top: 20px;
}
.task {
  margin: 12px 0;
}
.btn{
  padding: 10px;
  margin-left: 5px;
  background: green;
  color: white;
  cursor: pointer;
}
 ul li{
  list-style: none;
 }
.delete-btn {
  margin-left: 10px;
  background: red;
color: white;
  padding: 10px;
  cursor: pointer;
}
.taskInput {
  outline: none;
  padding: 10px;
}